<script>
import { mapGetters } from "vuex";
import moment from "moment-timezone";
import TimeZone from "@/components/TimeZones/TimeZone";
import TimeLineSlot from "@/components/TimeZones/TimeLineSlot";

export default {
  components: {
    TimeLineSlot,
    TimeZone
  },
  computed: {
    ...mapGetters({
      timeSlots: "timezones/timeSlots",
      offset: "timezones/currentOffset",
      timeZone: "timezones/currentTimeZone",
      formatTime: "timezones/formatTime"
    }),
    fullHourOffset() {
      return Math.abs(this.offset % 60);
    }
  }
};
</script>
<template>
  <time-zone style="height:32px">
    <template v-slot:header>
      {{ timeZone }}
    </template>
    <template v-slot:timeline>
      <div
        class="timezone-scale-wrapper"
        :class="'timezone-timeline-' + fullHourOffset"
        :style="{
          width: (timeSlots.length - 1 + fullHourOffset / 60) * 32 + 'px'
        }"
      >
        <TimeLineSlot
          v-for="(timestamp, index) in timeSlots"
          :key="timestamp"
          :timestamp="timestamp"
          :offsetToFullHour="fullHourOffset"
        >
          <span v-if="index % 2">{{ formatTime(timestamp) }}</span>
        </TimeLineSlot>
      </div>
    </template>
  </time-zone>
</template>
<style scoped>
.timezone-scale-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}
</style>
