<template>
  <div :style="{ paddingLeft: hoverState.posX + 4 + 'px' }">
    <template v-if="hoverState.posX">
      {{ hoverState.localTime }}
    </template>
    <template v-else>
      &nbsp;
    </template>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters({
      hoverState: "timezones/hoverState"
    })
  }
};
</script>
