<template>
  <div class="timezone">
    <div class="timezone-header">
      <slot name="header"></slot>
    </div>
    <div class="timezone-timeline">
      <slot name="timeline"></slot>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  props: {}
};
</script>
<style>
.timezone {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.timezone-header {
  width: 20rem;
  flex-shrink: 0;
}

.timezone-timeline {
  margin-left: 2rem;
  overflow: hidden;
}
</style>
