<template>
  <main>
    <section>
      <h2>Why?</h2>
      <p>
        The current team page is a bit inflexible and does not offer a great
        search. Hopefully we can bring these benefits back from this project,
        but for the mean time this allows quicker iteration.
      </p>
    </section>
    <section>
      <h2>How?</h2>
      <p>
        We download the team.yml and combine it with the data from the team map.
      </p>
      <p>
        The Search is powered by a simple Boolean logic. You can use the
        operator <code>!</code> (exclamation mark) to negate,
        <code>&</code> (ampersand) for logical AND and <code>|</code> for
        logical OR. Here are some examples:
      </p>
      <ul>
        <li>
          <SearchLink search="type:person" />
          – Filter out vacancies
        </li>
        <li>
          <SearchLink search="departments:Sales | departments:Marketing" />
          – Everyone in sales and marketing
        </li>
        <li>
          <SearchLink
            search="projects:maintainer frontend & !projects:trainee_maintainer"
          />
          – Every Frontend maintainer, who is not a trainee
        </li>
        <li>
          <SearchLink search="reports_to:Sid" />
          – Everyone who reports to sid
        </li>
      </ul>
    </section>
    <PersonalizedExamples></PersonalizedExamples>
  </main>
</template>
<style scoped>
main {
  max-width: 50rem;
}
</style>
<script>
import SearchLink from "@/components/SearchLink.vue";
import PersonalizedExamples from "@/components/About/PersonalizedExamples";

export default {
  components: {
    SearchLink,
    PersonalizedExamples
  }
};
</script>
