<template>
  <main class="team-list">
    <modal v-if="modal" :person="modal" @selectPerson="selectPerson" />
    <person
      v-for="(person, index) in team"
      :key="person.slug"
      v-show="!hidden.includes(person.slug)"
      class="team-member"
      :person="person"
      :index="index"
      @selectPerson="selectPerson"
    />
  </main>
</template>

<script>
import { mapState } from "vuex";

import Person from "@/components/ListView/Person.vue";
import LazySubTree from "@/components/LazySubTree.vue";
import Modal from "@/components/ListView/Modal.vue";

export default {
  name: "TeamPage",
  data() {
    return {
      modal: null,
    };
  },
  components: {
    Modal,
    Person,
  },
  computed: {
    ...mapState(["team", "hidden"]),
  },
  methods: {
    selectPerson(slug) {
      if (!slug) {
        this.modal = null;
        return;
      }
      this.modal = this.team.find((x) => x.slug === slug);
    },
  },
};
</script>
<style>
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.team-member {
  min-width: 210px;
  flex: 1 1 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 45px;
}

a {
  color: #6b4fbb;
  text-decoration: none;
}

b {
  font-weight: 700;
}

.social {
  margin-top: 15px;
}

.role {
  margin-bottom: 15px;
}

.social svg {
  height: 24px;
  filter: grayscale(60%);
}

.social svg:hover,
.social svg:focus {
  filter: none;
}

.card {
  text-align: center !important;
}

.member-id img {
  border-radius: 50%;
  border: 3px solid #d7d7d7;
  height: 120px;
  filter: grayscale(75%);
}

.member-id img:hover {
  border-color: #6b4fbb;
  filter: grayscale(0);
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

.card a {
  text-decoration: underline;
  color: #999;
}

.card ul {
  list-style: none;
  padding: 0 15px;
  margin: 0;
}

.body {
  font-size: 14px;
  color: #828282;
}
</style>
