<template>
  <main class="flex flex--column">
    <section class="flex">
      <p>
        Please keep in mind that this doesn't consider people. Furthermore it is
        not very considerate of people that don't work from 9 to 5, have more
        flexible days or do work from Sunday to Thursday (shout-out to Israel
        😉)
      </p>
      <p><small>This view always filters out vacancies.</small></p>
      <p>
        Color coding as follows: <span class="color-box night" /> Night,
        <span class="color-box early" /> Early or Late,
        <span class="color-box work" /> 9-to-5 and finally
        <span class="color-box weekend" /> Weekend
      </p>
    </section>
    <form class="flex">
      <label>Date:</label>
      <input type="date" :value="date" @input="updateDate" />
      <label>Your Timezone</label>
      <multi-select
        :value="currentTimeZone"
        :options="options"
        @input="updateTimeZone"
        placeholder="Time Zone"
      />
      <label
        ><input type="checkbox" :checked="amPm" @change="updateAmPm" />
        AM/PM</label
      >
    </form>
    <section class="time-zone-list" @mouseleave="emptyHover">
      <time-zone-clock />
      <time-zone-scale />
      <time-line-entry
        v-bind:key="timezone.slug"
        v-for="timezone in timezones"
        :timezone="timezone"
      />
      <time-zone-scale />
      <time-zone-hover />
      <time-zone-clock />
    </section>
  </main>
</template>

<script>
import { mapGetters } from "vuex";

import MultiSelect from "vue-multiselect";
import TimeLineEntry from "@/components/TimeZones/TimeLineEntry.vue";
import TimeZoneHover from "@/components/TimeZones/TimeZoneHover.vue";
import TimeZoneScale from "@/components/TimeZones/TimeLineScale.vue";
import TimeZoneClock from "@/components/TimeZones/TimeZoneClock.vue";

export default {
  components: {
    MultiSelect,
    TimeZoneHover,
    TimeZoneScale,
    TimeLineEntry,
    TimeZoneClock
  },
  computed: {
    ...mapGetters({
      amPm: "timezones/isAmPm",
      date: "timezones/date",
      currentTimeZone: "timezones/currentTimeZone",
      timezones: "timezones/groupedByOffset",
      options: "timezones/availableTimezones"
    })
  },
  methods: {
    updateDate(e) {
      this.$store.commit("timezones/updateField", { date: e.target.value });
    },
    emptyHover() {
      this.$store.commit("timezones/updateField", { hover: {} });
    },
    updateAmPm(e) {
      this.$store.commit("timezones/updateField", { amPm: e.target.checked });
    },
    updateTimeZone(value) {
      this.$store.commit("timezones/updateField", { timezone: value });
    }
  }
};
</script>
<style scoped>
.color-box {
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
  display: inline-block;
}

.color-box.night {
  background: var(--night-color);
}

.color-box.early {
  background: var(--early-color);
}

.color-box.work {
  background: var(--work-color);
}

.color-box.weekend {
  background: var(--weekend-color);
}

main {
  justify-content: center;
}

section,
form {
  max-width: 40rem;
}

form {
  width: 100%;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
}

form > * {
  flex-shrink: 1;
}

label {
  margin: 0 0.5rem;
  flex-shrink: 0;
}

.time-zone-list {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  position: relative;
}
</style>
